#header-container {
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    display: inline-grid;
    grid-template-columns: 1fr 15fr;
    height: auto;
    justify-content: flex-start;
    padding-bottom: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

h1 {
    align-self: flex-end;
    font-family: 'Verdana';
    font-size: 32px;
    margin: 0;
}

#page-name:visited {
    color: black
}

#page-name:hover {
    color: rgb(255, 69, 0);
}

#logo {
    padding: 1rem 0 0 4rem;
    width: 2.5rem;
}